<footer class="footer">
  <div class="footer__content">
    <div class="footer__logo hover-text-color">
      <span>doniraj.hr</span>
    </div>
    <div class="footer__navigation">
      <a href="mailto:kontakt@doniraj.hr" class="footer__navigation-item hover-text-color"><%= inline_svg_tag 'email' %>
        kontakt@doniraj.hr</a>
      <span class="dot-separator"></span>
      <a href="#" class="footer__navigation-item hover-text-color polica">Polica privatnosti</a>
      <span class="dot-separator"></span>
      <a href="#" class="footer__navigation-item hover-text-color">
        <%= inline_svg_tag 'facebook-icon.svg' %>
      </a>
    </div>
  </div>
</footer>