<header class="header" data-controller="menu">
  <div class="header__content">
    <h2>doniraj.hr</h2>
    <div class="header__menu" id="header__menu">
      <%= inline_svg_tag 'hamburger.svg', class: 'menu__hamburger-icon', data: {action: 'click->menu#toggleMenu'} %>
    </div>
    <div class="header__nav-actions">
      <button class="nav-action">Predloži udrugu</button>
      <a class="nav-action" href="#">O nama</a>
    </div>
  </div>
</header>
<div class="mobile-menu mobile-menu--hidden" id="mobile-menu" data-controller="menu">
  <div class="mobile-menu__content">
    <div class="mobile-menu__header-content">
      <h2>doniraj.hr</h2>
      <div class="header__menu">
        <%= inline_svg_tag 'close.svg', class: 'menu__close-icon header__menu--closed', data: {action: 'click->menu#toggleMenu'} %>
      </div>
    </div>
    <div class="mobile-menu__actions">
      <div>
        <button class="nav-action">Predloži udrugu</button>
      </div>
      <div>
        <a class="nav-action" href="#">O nama</a>
      </div>
    </div>
    <hr/>
    <div class="mobile-menu__footer-content">
      <a href="mailto:kontakt@doniraj.hr" class="footer__navigation-item hover-text-color">
        <%= inline_svg_tag 'email' %>
        <span>kontakt@doniraj.hr</span>
      </a>
      <span class="dot-separator"></span>
      <a href="#" class="footer__navigation-item hover-text-color polica">Polica privatnosti</a>
      <span class="dot-separator"></span>
      <a href="#" class="footer__navigation-item hover-text-color">
        <%= inline_svg_tag 'facebook-icon.svg' %>
      </a>
    </div>
  </div>
</div>