<header class="header">
  <div class="header__content">
    <h2>doniraj.hr</h2>
    <div class="header__nav-actions">
      <button class="suggestionButton">Predloži udrugu</button>
      <a href="#">O nama</a>
    </div>
  </div>
</header>