$text-dark-1: #111;
// TODO - discuss color palette
//$text-dark-2: #484848;
//$text-dark-3: #868686;
//$text-dark-4: #c0c0c0;

// TODO - discuss color palette
$primary-color: #54A378;
$primary-color-light: #F1F5F3;

