$text-dark-1: #111;
// TODO - discuss color palette
//$text-dark-2: #484848;
//$text-dark-3: #868686;
//$text-dark-4: #c0c0c0;

// TODO - discuss color palette
$primary-color: #1F997B;
$primary-color-light: #F2F9F5;

