$text-dark-1: #fff;
// TODO - discuss color palette
//$text-dark-2: #484848;
//$text-dark-3: #868686;
//$text-dark-4: #c0c0c0;

// TODO - discuss color palette
$test-background-green: #54A378;
$test-background-green-light: #F1F5F3;

