.header {
  padding: 36px 0;
  //background-color: #F0F0F0;
  background-color: $test-background-green;
  position: sticky;
  top: 0;

  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1172px;
  }

  h2 {
    font-size: 48px;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .header__nav-actions {

    button {
      border: 3px solid $text-dark-1;
      border-radius: 4px;
      padding: 8px 20px;
      color: $text-dark-1;
      background-color: transparent;
      font-size: 16px;
      cursor: pointer;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      outline: none;
      text-transform: uppercase;

      &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04));
      }

      &:active {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
      }

    }

    a {
      color: $text-dark-1;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
    }

    :not(:last-child) {
      margin-right: 40px;
    }

  }

}