.ticket {
  border-radius: 8px;
  padding: 24px 32px 24px 56px;
  margin: 32px 0;
  background-color: #FFF;
  box-shadow: 0 6px 24px rgba(38, 50, 56, 0.1);
  transition: all 0.2s ease;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  }

  @media only screen and (max-width: 425px) {
    margin: 24px 0;
    padding: 24px;
  }

  .ticket__content {

    .ticket__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      @media only screen and (max-width: 425px) {
        align-items: flex-start;
      }

      .ticket__toggle-action {
        flex-shrink: 0;
        transition: transform .25s ease;

        @media only screen and (max-width: 425px) {
          height: 24px;
          width: 24px;
        }

        &.action-reverse {
          transform: rotate(.5turn);
        }

      }

    }

    .ticket__info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      a {
        display: inline-flex;
        align-items: center;
        max-width: 100%;
        color: $text-dark-1;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;

        @media only screen and (max-width: 425px) {
          font-size: 16px;
        }

        svg {
          flex-shrink: 0;
          margin-right: 4px;
        }

      }

    }

    .ticket__header {
      margin-bottom: 12px;
    }

    h4 {
      font-size: 26px;
      font-weight: 700;

      @media only screen and (max-width: 425px) {
        font-size: 22px;
      }

    }

    .ticket__address {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      font-size: 16px;
      font-weight: 300;

      @media only screen and (max-width: 425px) {
        width: 100%;
        font-size: 15px;
      }

      svg {
        margin-right: 4px;
      }

    }

  }

  .ticket__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &.ticket__body--hidden {
      display: none;
    }

    p {
      margin: 24px 0 16px 0;
      font-size: 16px;
      font-weight: 300;
      text-align: justify;
    }

    .ticket__contact {
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 300;

      svg {
        margin-right: 8px;
      }

      a {
        display: flex;
        align-items: flex-start;
        color: $text-dark-1;
        text-decoration: none;
      }

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    hr {
      align-self: stretch;
      border: 1px solid rgba(0, 0, 0, 0.1);
      margin: 24px 0;
    }

  }

  .ticket__footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $text-dark-1;

    @media only screen and (max-width: 425px) {
      max-width: 250px;
      margin: 0 auto;
    }

    .ticket__payment-info {

      @media only screen and (max-width: 425px) {
        margin: 32px 0;
      }

    }

    .payment-label {
      margin-bottom: 16px;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;

      @media only screen and (max-width: 425px) {
        margin-bottom: 8px;
      }

    }

    .payment-content {
      display: flex;
      align-items: center;
      cursor: pointer;

      input {
        color: inherit;
        cursor: pointer;
        outline: none;
      }

      span {
        margin-right: 8px;
      }

      input {
        border: none;
        margin-right: 8px;
        min-width: 195px;
      }
    }

    .payment-barcode {
      width: 248px;
      height: 144px;
    }
  }

}