@import "normalize-rails";
@import "select2";

@import "shared/fonts";
@import "shared/colors";
@import "components/header";
@import "components/suggestion_form";
@import "components/search_filters";
@import "components/ticket";
@import "components/pagination";
@import "components/footer";
@import "pages/organizations";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: $text-dark-1;
  line-height: 1.5;
}

p {
  margin: 0;
}

.center {
  text-align: center;
}

.required {
  color: #FF0505
}

.errorMessage {
  margin-top: 8px;
  color: #FF0505;
}

.successMessage{
  display: none;
  width: 100%;
}