@import "normalize-rails";
@import "select2";

@import "shared/fonts";
@import "shared/colors";
@import "components/header";
@import "components/suggestion_form";
@import "components/ticket";
@import "components/pagination";
@import "components/footer";
@import "pages/organizations";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: $text-dark-1;
  line-height: 1.5;
}

p {
  margin: 0;
}

.center {
  text-align: center;
}

.required{
  color: #FF0505
}

#suggestionModal {
  display: none;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}