@import "normalize-rails";
@import "select2";

@import "shared/fonts";
@import "shared/colors";
@import "components/footer";
@import "components/pagination";
@import "components/header";
@import "components/search_filters";
@import "components/ticket";
@import "pages/organizations";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: $text-dark-1;
  line-height: 1.26em;
}

p {
  margin: 0;
}

.center {
  text-align: center;
}

.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.no-shrink {
  flex-shrink: 0;
}

.primary-color {
  color: $primary-color;
}

.line-height-common {
  line-height: 1.4em;
}

.icon-sm {
  height: 18px;
  width: 18px;
}

.hover-text-color {
  transition: color .15s ease;

  h4 {
    transition: color .15s ease;
  }

  &:hover {
    color: $primary-color !important;

    h4 {
      color: $primary-color !important;
    }

  }

}

.break-text {
  word-break: break-all;
}

.full-width {
  width: 100%;
}