<div class="organizations-list__content" data-search-target="results" id="organizationsList">
  <%= render partial: 'search_filters' %>
  <% organizations.each do |organization| %>
    <%= render partial: 'components/ticket', locals: { organization: organization } %>
  <% end %>
  <%= render partial: 'pagination', locals: { organizations: @organizations } %>
</div>