<div class="hero">
  <div class="hero__content">
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur
      sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
      laborum.</p>
    <div class="cards-wrapper">
      <div class="card card--left">
        <div class="card__image-wrapper"></div>
        <span>Pronađi udrugu</span>
      </div>
      <div class="card card--major">
        <div class="card__image-wrapper"></div>
        <span>Doniraj</span>
      </div>
      <div class="card card--right">
        <div class="card__image-wrapper"></div>
        <span>Razveseli</span>
      </div>
    </div>
  </div>
</div>
<section>
  <%= render partial: 'search_filters' %>
</section>
<section class="organizations-list">
  <%= render partial: 'organizations_list', locals: { organizations: @organizations } %>
</section>