<div class="about">
  <div class="about__return_to_home">
    <a href="/" class="return">
      <%= inline_svg_tag 'arrow-left.svg', class: 'arrow-left-icon'%>
      Natrag na početnu stranicu</a>
  </div>

  <div class="about__content">
    <h1>Što je doniraj.hr?</h1>
    <p>doniraj.hr je nezavisna inicijativa koju su pokrenuli društveno angažirani, mladi ljudi sa
      željom da se pomogne onima kojima je pomoć najpotrebnija.</p>

    <p>blabablablabla NEŠTO EMOTIVNO blalavla</p>

    <p>doniraj.hr jedinstvena je platforma koja vam omogućava da saznate više o udrugama kojima je
      potrebna naša pomoć, olakšava provjeru vjerodostojnosti organizacija kojima želite donirati te
      ubrzava proces istraživanja o radu i djelovanju udruge.</p>

    <p>Pouzdano, brzo i sigurno - samo jedan klik dijeli Vas od širenja dobrote i pružanja osmijeha
      onima u potrebi.</p>

    <p>doniraj.hr pruža vam uvid u važne podatke udruga koji su provjereni i verificirani.</p>

    <p>- Platforma za brzo i sigurno pretraživanje udruga na području RH koja vam olakšava proces
      doniranja</p>

    <p>- Pomaganje drugima nikada nije bilo jednostavnije</p>
    <p>- Pomaganje onima kojima je pomoc najpotrebnija nikada nije bilo jednostavnije</p>

    <h4>Najčešće postavljana pitanja (FAQ)</h4>

    <h5>1. Kako prikupljate podatke o udrugama?</h5>
    <p>Svi podaci na ovoj platformi su javno dostupni podaci prikupljeni preko službenih stranica
      udruga.
      <br>Također, javnosti je, na našoj stranici, dostupna i forma za prijedloge novih udruga.</p>

    <h5>2. Kako verificirate podatke o udrugama?</h5>
    <p>Uvidom u registar udruga verificiramo aktivnost i osnovne informacije o samoj udruzi. Provjeravaju se i
      podaci dostupni na službenim stranicama udruga.</p>
    <p>Dodatne informacije kao što su IBAN/OIB/SWIFT verificiramo putem javno dostupnih IBAN
      validatora kao i korištenjem internet i mobilnih bankovnih aplikacija.</p>

    <h5>3. Je li omogućeno plaćanje preko stranice doniraj.hr?</h5>
    <p>Trenutno nije integrirano plaćanje na samoj stranici, no moguće je barkod skenirati i/ili
      kopirati IBAN.
      <br> Integracija plaćanja je u fazi planiranja.</p>


  </div>
</div>