<div class="about">
  <div class="about__return_to_home">
    <a href="<%= root_path %>" class="return">
      <%= inline_svg_tag 'arrow-left.svg', class: 'arrow-left-icon' %>
      Natrag na početnu stranicu</a>
  </div>

  <div class="about__content">
    <h1>Što je doniraj.hr?</h1>
    <p> doniraj.hr je stranica stvorena s ciljem jednostavnijeg pronalaska humanitarnih udruga, s
      naglaskom na udruge u potrebi.
      Pretraživanje udruga po nazivu ili mjestu i trenutni pristup osnovnim informacijama omogućen
      je u nekoliko klikova.
    <p>Donirati se može ili preko navedenog IBAN računa ili putem skeniranja vidljivog barkoda.</p>
    <p>Ukoliko udruga koju poznajete nije u našem sustavu, molimo vas da je prijavite preko naše web
      forme (klikom na 'Predloži') te ćemo u što kraćem roku napraviti provjeru i istu udrugu
      objaviti na našoj stranici.</p>


    <h4>Najčešće postavljana pitanja (FAQ)</h4>

    <h5>1. Kako prikupljate podatke o udrugama?</h5>
    <p>Svi podaci na ovoj platformi su javno dostupni podaci prikupljeni preko službenih stranica
      udruga.
      <br>Ako poznajete udruge koje nisu dio našeg sustava, postoji mogućnost unosa istih putem web
      forme.</p>

    <h5>2. Kako verificirate podatke o udrugama?</h5>
    <p>Uvidom u registar udruga verificiramo aktivnost i osnovne informacije. Provjeravaju se i
      podaci dostupni na službenim stranicama udruga.</p>
    <p>Dodatne informacije kao što su IBAN/OIB/SWIFT verificiramo putem javno dostupnih IBAN
      validatora kao i korištenjem internet i mobilnih bankovnih aplikacija.</p>

    <h5>3. Je li moguće uplatiti donacije putem doniraj.hr stranice?</h5>
    <p>Trenutno nije moguća uplata donacija putem same stranice, no moguće je barkod skenirati i/ili
      kopirati IBAN.
      <br> Integracija plaćanja je u fazi planiranja.</p>

  </div>
</div>