<div class="privacy_policy">
  <div class="privacy_policy__return_to_home">
    <a href="<%= root_path %>" class="return">
      <%= inline_svg_tag 'arrow-left.svg', class: 'arrow-left-icon' %>
      Natrag na početnu stranicu</a>
  </div>

  <div class="privacy_policy__content">
    <h1>Polica o prikupljanju osobnih podataka</h1>
    <p>Ova se polica primjenjuje na sve informacije prikupljene ili podnešene na stranici doniraj.hr
      preko svih uređaja i platformi.</p>

    <h4>Analitike</h4>
    <p>Koristimo Google Analytics, uslugu web analize koju pruža Google Inc., za praćenje i analizu
      web prometa koja može biti korištena za praćenje ponašanja korisnika. Google Inc. može
      prikupljene podatke koristiti za kontekstualizaciju i personalizaciju oglasa vlastite
      oglašivačke mreže. Možete pogledati
      <a href="https://policies.google.com/privacy">pravila o privatnosti</a> tvrtke Google Inc.
      ili se
      <a href="https://tools.google.com/dlpage/gaoptout">odjaviti</a>.
    </p>

    <h4>Suglasnost o pristanku</h4>
    <p>Korištenjem naše stranice, suglasni ste s našom Policom o prikupljanju osobnih podataka.</p>

  </div>
</div>